@media (max-width: 768px) {
  #root {
    height: 100vh;
    overflow: hidden;
  }
}

.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--color-bg-deep);
}

@media (max-width: 768px) {
  .app-container.mobile-view-list .log-list-container {
    display: flex;
    width: 100%;
    max-height: 100vh;
  }

  .app-container.mobile-view-list .editor-container {
    display: none;
  }

  .app-container.mobile-view-editor .log-list-container {
    display: none;
  }

  .app-container.mobile-view-editor .editor-container {
    display: flex;
    width: 100%;
  }
}